# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log
yarn-error.log
/package-lock.json

# Mac
.DS_Store

# Build artifacts
target/
dist/
out/
build/
