<h1>{{ isEditMode ? 'Edit Person' : 'Add Person' }}</h1>


<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input id="name" class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="surname" class="form-label">Surname</label>
    <input id="surname" class="form-control" formControlName="surname">
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">User Age</label>
    <input id="age" class="form-control" formControlName="age">
  </div>
  <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Add' }}</button>
</form>
